In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [24]:
df_cartoes = pd.read_csv("../data/raw/campeonato-brasileiro-cartoes.csv");
df_stats_full = pd.read_csv("../data/raw/campeonato-brasileiro-estatisticas-full.csv");
df_full = pd.read_csv("../data/raw/campeonato-brasileiro-full.csv");
df_gols = pd.read_csv("../data/raw/campeonato-brasileiro-gols.csv");

### Imprimindo as informações básicas de cada dataframe
print("Dataframe de cartões info")
print(df_cartoes.info())
print("Dataframe de stats info")
print(df_stats_full.info())
print("Dataframe todas as informações info")
print(df_full.info())
print("Dataframe de gols info")
print(df_gols.info())

### Imprimindo a "cabeça" de cada dataframe
print("Dataframe de cartoes")
print(df_cartoes.head())
print("Dataframe de stats")
print(df_stats_full.head())
print("Dataframe de informações")
print(df_full.head())
print("Dataframe de gols")
print(df_gols.head())

Dataframe de cartões info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18857 entries, 0 to 18856
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  18857 non-null  int64
 1   rodata      18857 non-null  int64
 2   clube       18857 non-null  object
 3   cartao      18857 non-null  object
 4   atleta      18851 non-null  object
 5   num_camisa  18471 non-null  float64
 6   posicao     17659 non-null  object
 7   minuto      18857 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.2+ MB
None
Dataframe de stats info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16810 entries, 0 to 16809
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16810 non-null  int64
 1   rodata           16810 non-null  int64
 2   clube            16810 non-null  object
 3   chutes           16810 non-null  int64
 4   chutes_no_alvo   16810 non-null  int64
 5   posse_de_bola    6820 non-null   object
 6   passes           16810 non-null  int64
 7   precisao_passes  4512 non-null   object
 8   faltas           16810 non-null  int64
 9   cartao_amarelo   16810 non-null  int64
 10  cartao_vermelho  16810 non-null  int64
 11  impedimentos     16810 non-null  int64
 12  escanteios       16810 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.7+ MB
None
Dataframe todas as informações info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405 entries, 0 to 8404
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8405 non-null   int64
 1   rodata              8405 non-null   int64
 2   data                8405 non-null   object
 3   hora                8405 non-null   object
 4   mandante            8405 non-null   object
 5   visitante           8405 non-null   object
 6   formacao_mandante   3431 non-null   object
 7   formacao_visitante  3431 non-null   object
 8   tecnico_mandante    3795 non-null   object
 9   tecnico_visitante   3795 non-null   object
 10  vencedor            8405 non-null   object
 11  arena               8405 non-null   object
 12  mandante_Placar     8405 non-null   int64
 13  visitante_Placar    8405 non-null   int64
 14  mandante_Estado     8405 non-null   object
 15  visitante_Estado    8405 non-null   object
dtypes: int64(4), object(12)
memory usage: 1.0+ MB
None
Dataframe de gols info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   partida_id   8932 non-null   int64
 1   rodata       8932 non-null   int64
 2   clube        8932 non-null   object
 3   atleta       8932 non-null   object
 4   minuto       8932 non-null   object
 5   tipo_de_gol  1089 non-null   object
dtypes: int64(2), object(4)
memory usage: 418.8+ KB
None
Dataframe de cartoes
   partida_id  rodata          clube   cartao                      atleta  \
0        4607       1    Figueirense  Amarelo      Paulo Roberto da Silva
1        4607       1    Figueirense  Amarelo               Thiago Heleno
2        4608       1  Internacional  Amarelo         Andrés D'Alessandro
3        4608       1        Vitoria  Amarelo  Marcelo Machado dos Santos
4        4608       1        Vitoria  Amarelo                      Mansur

   num_camisa     posicao minuto
0        28.0         NaN     66
1         4.0    Zagueiro     44
2        10.0  Meio-campo     72
3        29.0         NaN     86
4         NaN    Zagueiro     10
Dataframe de stats
   partida_id  rodata         clube  chutes  chutes_no_alvo posse_de_bola  \
0           1       1       Guarani       0               0           NaN
1           1       1         Vasco       0               0           NaN
2           2       1        Gremio       0               0           NaN
3           2       1  Athletico-PR       0               0           NaN
4           3       1      Coritiba       0               0           NaN

   passes precisao_passes  faltas  cartao_amarelo  cartao_vermelho  \
0       0             NaN       0               0                0
1       0             NaN       0               0                0
2       0             NaN       0               0                0
3       0             NaN       0               0                0
4       0             NaN       0               0                0

   impedimentos  escanteios
0             0           0
1             0           0
2             0           0
3             0           0
4             0           0
Dataframe de informações
   ID  rodata        data   hora       mandante    visitante  \
0   1       1  29/03/2003  16:00        Guarani        Vasco
1   2       1  29/03/2003  16:00   Athletico-PR       Gremio
2   3       1  30/03/2003  16:00       Flamengo     Coritiba
3   4       1  30/03/2003  16:00          Goias     Paysandu
4   5       1  30/03/2003  16:00  Internacional  Ponte Preta

  formacao_mandante formacao_visitante tecnico_mandante tecnico_visitante  \
0               NaN                NaN              NaN               NaN
1               NaN                NaN              NaN               NaN
2               NaN                NaN              NaN               NaN
3               NaN                NaN              NaN               NaN
4               NaN                NaN              NaN               NaN

       vencedor              arena  mandante_Placar  visitante_Placar  \
0       Guarani     Brinco de Ouro                4                 2
1  Athletico-PR   Arena da Baixada                2                 0
2             -           Maracanã                1                 1
3             -      Serra Dourada                2                 2
4             -          Beira Rio                1                 1

  mandante_Estado visitante_Estado
0              SP               RJ
1              PR               RS
2              RJ               PR
3              GO               PA
4              RS               SP
Dataframe de gols
   partida_id  rodata          clube                   atleta minuto  \
0        4607       1     Fluminense  Nirley da Silva Fonseca     59
1        4607       1     Fluminense                     Fred     45
2        4607       1     Fluminense             Rafael Sóbis     31
3        4608       1  Internacional         Charles Aránguiz      6
4        4612       1       Cruzeiro   Nílton Ferreira Júnior     63

  tipo_de_gol
0  Gol Contra
1     Penalty
2         NaN
3         NaN
4         NaN

In [42]:
### Função para unir as tabelas com relação 1:2
def unir_tabelas_um_para_dois_chaves_diferentes(tabela1, tabela2, chave_tabela1, chave_tabela2, colunas_tabela2):
    """
    Une duas tabelas (um para dois) transformando as duas linhas correspondentes na tabela2 em duas colunas distintas,
    quando a chave de ligação entre as tabelas tem nomes diferentes.

    Parâmetros:
    tabela1 (pd.DataFrame): A tabela do lado 'um' da relação.
    tabela2 (pd.DataFrame): A tabela do lado 'dois' da relação.
    chave_tabela1 (str): O nome da coluna chave na tabela1.
    chave_tabela2 (str): O nome da coluna chave na tabela2.
    colunas_tabela2 (list): Lista de colunas da tabela2 que devem ser transformadas em colunas únicas na nova tabela.

    Retorno:
    pd.DataFrame: A tabela resultante da união."""
    
    
    # Primeiro, adicionamos um identificador único para distinguir as duas entradas (pode ser uma numeração)
    tabela2['linha'] = tabela2.groupby(chave_tabela2).cumcount() + 1
    
    # Fazemos o pivot para transformar as duas linhas em duas colunas
    tabela_pivot = tabela2.pivot(index=chave_tabela2, columns='linha', values=colunas_tabela2)
    
    # Renomeamos as colunas para que fiquem claras
    tabela_pivot.columns = ['{}_{}'.format(col, val) for col, val in tabela_pivot.columns]
    
    # Juntamos a tabela pivotada com a tabela original (tabela1)
    resultado_final = pd.merge(tabela1, tabela_pivot, left_on=chave_tabela1, right_on=chave_tabela2, how='left')
    
    return resultado_final

df_merged = unir_tabelas_um_para_dois_chaves_diferentes(tabela1=df_full, tabela2=df_stats_full, chave_tabela1='ID', chave_tabela2='partida_id',colunas_tabela2=['clube','chutes','chutes_no_alvo','posse_de_bola','passes','precisao_passes','faltas','cartao_amarelo','cartao_vermelho','impedimentos','escanteios'])
print(df_merged.head())
print(df_merged.info())
print(df_merged.describe())

   ID  rodata        data   hora       mandante    visitante  \
0   1       1  29/03/2003  16:00        Guarani        Vasco
1   2       1  29/03/2003  16:00   Athletico-PR       Gremio
2   3       1  30/03/2003  16:00       Flamengo     Coritiba
3   4       1  30/03/2003  16:00          Goias     Paysandu
4   5       1  30/03/2003  16:00  Internacional  Ponte Preta

  formacao_mandante formacao_visitante tecnico_mandante tecnico_visitante  \
0               NaN                NaN              NaN               NaN
1               NaN                NaN              NaN               NaN
2               NaN                NaN              NaN               NaN
3               NaN                NaN              NaN               NaN
4               NaN                NaN              NaN               NaN

       vencedor              arena  mandante_Placar  visitante_Placar  \
0       Guarani     Brinco de Ouro                4                 2
1  Athletico-PR   Arena da Baixada                2                 0
2             -           Maracanã                1                 1
3             -      Serra Dourada                2                 2
4             -          Beira Rio                1                 1

  mandante_Estado visitante_Estado      clube_1        clube_2 chutes_1  \
0              SP               RJ      Guarani          Vasco        0
1              PR               RS       Gremio   Athletico-PR        0
2              RJ               PR     Coritiba       Flamengo        0
3              GO               PA     Paysandu          Goias        0
4              RS               SP  Ponte Preta  Internacional        0

  chutes_2 chutes_no_alvo_1 chutes_no_alvo_2 posse_de_bola_1 posse_de_bola_2  \
0        0                0                0             NaN             NaN
1        0                0                0             NaN             NaN
2        0                0                0             NaN             NaN
3        0                0                0             NaN             NaN
4        0                0                0             NaN             NaN

  passes_1 passes_2 precisao_passes_1 precisao_passes_2 faltas_1 faltas_2  \
0        0        0               NaN               NaN        0        0
1        0        0               NaN               NaN        0        0
2        0        0               NaN               NaN        0        0
3        0        0               NaN               NaN        0        0
4        0        0               NaN               NaN        0        0

  cartao_amarelo_1 cartao_amarelo_2 cartao_vermelho_1 cartao_vermelho_2  \
0                0                0                 0                 0
1                0                0                 0                 0
2                0                0                 0                 0
3                0                0                 0                 0
4                0                0                 0                 0

  impedimentos_1 impedimentos_2 escanteios_1 escanteios_2
0              0              0            0            0
1              0              0            0            0
2              0              0            0            0
3              0              0            0            0
4              0              0            0            0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405 entries, 0 to 8404
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8405 non-null   int64
 1   rodata              8405 non-null   int64
 2   data                8405 non-null   object
 3   hora                8405 non-null   object
 4   mandante            8405 non-null   object
 5   visitante           8405 non-null   object
 6   formacao_mandante   3431 non-null   object
 7   formacao_visitante  3431 non-null   object
 8   tecnico_mandante    3795 non-null   object
 9   tecnico_visitante   3795 non-null   object
 10  vencedor            8405 non-null   object
 11  arena               8405 non-null   object
 12  mandante_Placar     8405 non-null   int64
 13  visitante_Placar    8405 non-null   int64
 14  mandante_Estado     8405 non-null   object
 15  visitante_Estado    8405 non-null   object
 16  clube_1             8405 non-null   object
 17  clube_2             8405 non-null   object
 18  chutes_1            8405 non-null   object
 19  chutes_2            8405 non-null   object
 20  chutes_no_alvo_1    8405 non-null   object
 21  chutes_no_alvo_2    8405 non-null   object
 22  posse_de_bola_1     3410 non-null   object
 23  posse_de_bola_2     3410 non-null   object
 24  passes_1            8405 non-null   object
 25  passes_2            8405 non-null   object
 26  precisao_passes_1   2256 non-null   object
 27  precisao_passes_2   2256 non-null   object
 28  faltas_1            8405 non-null   object
 29  faltas_2            8405 non-null   object
 30  cartao_amarelo_1    8405 non-null   object
 31  cartao_amarelo_2    8405 non-null   object
 32  cartao_vermelho_1   8405 non-null   object
 33  cartao_vermelho_2   8405 non-null   object
 34  impedimentos_1      8405 non-null   object
 35  impedimentos_2      8405 non-null   object
 36  escanteios_1        8405 non-null   object
 37  escanteios_2        8405 non-null   object
dtypes: int64(4), object(34)
memory usage: 2.4+ MB
None
               ID       rodata  mandante_Placar  visitante_Placar
count  8405.00000  8405.000000      8405.000000       8405.000000
mean   4203.00000    20.133254         1.541225          1.027008
std    2426.45884    11.444643         1.230607          1.027170
min       1.00000     1.000000         0.000000          0.000000
25%    2102.00000    10.000000         1.000000          0.000000
50%    4203.00000    20.000000         1.000000          1.000000
75%    6304.00000    30.000000         2.000000          2.000000
max    8405.00000    46.000000         7.000000          7.000000